﻿body {
    font-size: 11pt;
    font-family: "Arial Unicode MS";
}

span {
    margin-right: 6px;
    margin-top: 2px;
}

.container {
    margin-bottom: 20px;
}

.counter {
    color: black;
}

.kanji {
    font-size: 13pt;
    color: black;
    font-family: "MS Gothic";
}

.reading {
    font-size: 13pt;
    color: royalblue;
    font-family: "MS Gothic";
}

.english {
    color: rgb(0,125,50);
}

.russian {
    color: black;
}

.comment {
    display: block;
    color: dimgray;
    /*font-style: italic;*/
    text-indent: 50px;
    margin-right: 0;
}

/* japanese in comments */
.japanese {
    font-size: 13pt;
    font-style: normal;
    font-family: "MS Gothic";
    margin-left: 5px;
    margin-right: 0;
}

.imagepath {
    color: blue;
    text-decoration: underline;
}

.match {
    color: orchid;
    font-weight: bold;
    margin-right: 0;
}

.code {
    vertical-align: super;
    font-size: 8pt;
    color: maroon;
}

.header {
	font-size: 20pt;
	font-family: "Arial Unicode MS";
	color: maroon;
	text-align: center;
	text-decoration: underline;
	margin-top: 20px;
    margin-bottom: 10px;
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: #3399FF;
}

a:active {
    color: #3399FF;
}
